html, body, .mainContainer{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.mainContainer{
  background-color: black;
  background-size:auto;
}
.headerSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:60px;
  padding-bottom:60px;
  background-color: #E1EDFF;
}

#Wilderness{
  margin: 0px;
  padding: 20px;
  background-image: linear-gradient(#55705d, #9ba79e);
}

#Underwater{
  margin: 0px;
  padding: 20px;
  background-image: linear-gradient(#0c445e, #04648c);
}

#Outerspace{
  margin: 0px;
  padding: 20px;
  background-image: linear-gradient(#192946, #253558);
}

#Palletes{
  margin: 20px;
  padding: 0px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  justify-content: space-between;

}
.image{
  margin: 0px;
  padding: 0px;
  height:400px;
  width:300px;
  border:10px solid transparent;
}

#Wilderness .image:hover{
  border:10px solid green;
}
#Underwater .image:hover{
  border:10px solid #0484b4;
}
#Outerspace .image:hover{
  border:10px solid #6575a4;
}

p{
  font-family: sans-serif;
}

#Wilderness > p, #Outerspace > p, #Underwater > p{
  font-family: fantasy;
  color:white;
}

a{
  margin:0px;
  padding:0px;
  font-family: sans-serif;
  color: white;
}

#Wilderness a{
  color: #d5cfc9;
}

#Outerspace a{
  color: #5a7297;
}

#Underwater a{
  color: #256d86;
}

h2:first-of-type{
  color:pink;
}
